table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;    
}

.sendername {
    width: 200px;
    max-width: 200px;
    overflow: hidden;
}

.senderdate {
    width: 100px;
    max-width: 100px;
}

.sentmessage {
    word-wrap: break-word;
}

table {
    width: 100%;
}





body {    
    margin: 0;    
}

.row, .col {
    overflow: hidden;
    position: absolute;    
}

.col {
    top: 0;
    bottom: 0;
}

.row {
    left: 0;
    right: 0;
}

.content {
    padding: 5px;
}

.row.profile  {
    height: 30px;
    border-bottom: 1px solid black;
}

.col.leftcol {    
    top: 30px;
    width: 200px;
    border-right: 1px solid black;
}

.col.rightcol {
    top: 30px;
    left: 200px;
    right: 0px;
}

.row.chatrooms {    
    /*height: 100px;*/    
}

.NewMessage {    
    border: 1px solid black;
}

.row.activeusers {
    border-top: 1px solid black;    
    bottom: 0px;      
}



.row.chat {
    bottom: 60px;
    border-bottom: 1px solid black;
}

.row.chatinput {
    height: 60px;
    bottom: 0px;    
    display: none; 
}

.row.chatinput textarea {
    width: 80%;
    resize: none;
    height: 40px;
}

.row.chatinput button {
    width: 15%;
    resize: none;
    position: absolute;
    top: 5px;
    height: 46px;
    right: 0px;
}

.scroll-x {
    overflow-x: auto;
}

.scroll-y {
    overflow-y: auto;
}